- provide(:title, "概要")
%h1.h1.text-secondary 概要

.offset-md-1.col-md-10.about-app
  %h3.text-secondary ・このアプリケーションについて
  %p このアプリケーションは、失敗共有SNSです。ニックネームで登録することができるので、ぜひ失敗体験談を記事にしたり、日々の小さな「しくじり」をつぶやいてみてください。
  %p トップページにある英文は「失敗は成功のもと」です。
  %p 一人ひとりの小さな失敗だけでは学べるものは比較的少ないかもしれません。
  %p 失敗を共有しあうことによって成功する確率をさらに上げることができるのではないか、というのがこのアプリケーションのコンセプトです。

  %h3.text-secondary ・作者について
  %p このアプリケーションの作者は、プログラミング歴3ヶ月の初心者です。(2020年5月20日現在)
  %p 二月の末にProgateを始めて、その後Railsチュートリアルにお世話になり、チェリー本やRspecについて少し学習した後、そろそろなにか自分でアプリケーションを作りたい! と思ったのが四月の中旬ごろでした。
  %p とはいえ作りたいものが思い浮かばなかったので、Railsチュートリアルと同じようなSNSを作ることにしましたが、ただ普通にSNSを作っても面白くないので、「失敗を共有する」ことに限定して差別化を図ることにしました。

  %h3.text-secondary ・開発の感想
  %p 開発を始めてから一日も休まずにコードを書き続けました。(Twitterに報告し忘れた日はありました。)
  %p 独学で教えてもらえる人もいなかったので、Qiitaの記事や個人ブログなどにはとてもお世話になりました。
  %p 何度も実装を諦めかけたこともありましたが、粘り強く調べたり試行錯誤したりすればたいてい解決しました。挫折しないことの大切さを身に染みて感じました。

  %h3.text-secondary ・今後について
  %p 今後も学習を継続していく予定です。学習のアウトプットの場としてこのアプリケーションをアップデートするかもしれません。
  %span 使用した感想を作者の
  %a{href: "https://twitter.com/nizi_24a"}Twitter
  %span に報告して下さると幸いです。
  %p お問い合わせフォームからメールを送ることもできます。
