- provide(:title, "ヘルプ")
%h1.h1.text-secondary ヘルプ

.offset-md-1.col-md-10.about-app

  %h3.text-secondary ・タイムラインについて
  %p タイムラインにはフォローしているユーザーの投稿のみが表示されます。

  %h3.text-secondary ・トレンドについて
  %p トレンドには指定された期間の投稿がいいねの多い順に30件表示されます。
  %p 最近には直近3日間の投稿が表示されます。

  %h3.text-secondary ・新着順について
  %p 新着順にはすべての投稿が表示されます。

  %h3.text-secondary ・検索機能について
  %p ユーザーの名前、記事のタイトル、つぶやきの投稿内容から検索して結果を表示します。
  %p @ を先頭につけて検索すると、ユーザー名(@から始まるアルファベット、数字の文字列)を検索することができます。

  %h3.text-secondary ・通知について
  %p 通知は自分の投稿にいいねされた時、自分の記事にコメントがついた時、返信を受け取った時、フォローされた時に送信されます。
  %p 新着の通知がある場合、ベルが黄色に変化します。
  %p ベルをクリックした時点で既読であるとみなされ、色が白に戻ります。
  %p 通知欄のユーザーアイコンをクリックすると、そのユーザーのプロフィールに行くことができます。
  %p 通知内容をクリックすると、関連するユーザーや投稿に行くことができます。
  %p 設定で通知の種類を制限することができます。

  %h3.text-secondary ・記事について
  %p マークダウン記法を用いることができます。(詳しい記法については割愛します)
  %p 本文には最低でも20文字必要です。

  %h3.text-secondary ・マークダウン記法について
  %p 他のサービスでは独自のマークダウン記法を追加している場合が多いため、本サービスで使用できない可能性があります。

  %h3.text-secondary ・つぶやきについて
  %p 最大280文字まで投稿することができます。
  %p 最大4枚まで画像を投稿することができます。
  %p 投稿の左下にある返信ボタンをクリックすると、特定の投稿に返信することができます。
  %p 投稿をクリックすると、投稿に対する返信など詳しい内容を見ることができます。
  %p 返信に返信することもできます。
  %p 返信はツリーになって表示されます。初期状態ではたたまれており、返信を表示する をクリックすると表示されます。
  %p 投稿に対する返信に複数返信がある場合、最もいいねが多い返信のみが表示されます。(投稿をクリックすることでその他の返信を表示できます)
  %p 投稿に対する直接の返信はすべて表示されます。
  %p 投稿に対して返信すると自動的に返信先のユーザー名が投稿内容に挿入されます。
  %p 分かりにくい説明ですが、Twitterに似た仕様だと思ってもらえれば使用しやすいと思います。

  %h3.text-secondary ・返信について
  %p @ から始まるユーザー名をつぶやきに含めると、特定のユーザーに返信することができます。
  %p 相手のユーザーには通知が送信され(設定でoffにしている場合を除く)、投稿に気づかれやすくなります。
  %p 複数ユーザーを指定することもできます。
  %p 投稿内容にユーザー名が含まれる場合、ユーザーのプロフィールへのリンクに変化します。
  %p 投稿内容を特定のユーザーとだけ共有するために使用できない(すべてのユーザーが返信を閲覧できる)のでご注意ください。

  %h3.text-secondary ・設定について
  %p ユーザーのプロフィールや登録情報、通知に関する設定を変更することができます。
  %p プロフィールは最大160文字で設定できます。
  %p 設定を変更した後は必ず変更ボタンを押してください。
