- if logged_in?

  .feed.row
    .offset-1.col-10.offset-md-2.col-md-8.offset-lg-0.col-lg-2.side-menu.bg-light
      .btn.btn-info.timeline-select.top-select
        %i.fas.fa-history
        %span タイムライン

      .btn.btn-outline-info.trend-select.second-select
        %i.fas.fa-poll-h
        %span トレンド

      = link_to articles_path, class: 'btn btn-outline-info' do
        %i.fas.fa-hourglass-half
        新着順


    .offset-md-1.col-md-10.offset-lg-1.col-lg-8

      .timeline.top
        %h2.h2.center タイムライン

        = render 'shared/following_feed'

      .trend.second
        %h2.h2.center トレンド

        = render 'shared/trend_feed'

- else
  .home.center
    %h1.h1 Failearnへようこそ!
    = link_to 'Sign Up Now!!', new_user_path, class: 'btn btn-primary active signup'
