-if @sended_replies.length > 0

  .sended-replies-hide.btn-light
    %span.hide 返信先を表示する

  .sended-replies
    - @sended_replies.each do |micropost|

      = render 'replies/ancestor_replies', micropost: micropost

      = render 'microposts/micropost_detail', micropost: micropost
    .border
