-if logged_in?
  .comment-form.col-md-10.offset-md-1
    .comment-form-header
      %h3#post-comment コメントを投稿する
    .comment-form-content
      = form_with model: @comment do |f|

        = f.hidden_field :article_id, id: 'article_id'
        = f.text_area :content, class: 'comment-textarea rounded'

        = f.submit '投稿', class: 'btn btn-info btn-block'
