%h1.text-secondary.h1 投稿一覧
.row
  .col-md-8.offset-md-2
    .posted-select
      .col-6.posted-select-articles.btn-light 記事
      .col-6.posted-select-microposts.btn-light  つぶやき

    -# 記事一覧
    .user-articles
      = render 'articles/article_index'
      
    -# つぶやき一覧
    .user-microposts
      = render 'microposts/microposts_index'
