%h1.text-secondary.h1 投稿一覧
.row
  .col-md-8.offset-md-2
    .posted-select
      .col-6.select-left.btn-success 記事
      .col-6.select-right.btn-light  つぶやき

    = render 'shared/articles_and_microposts_index'
