.row
  = render 'users/user_info'

  .offset-md-2.col-md-8.offset-lg-1.col-lg-6.followers-wrapper
    %h3.center #{@user.name}さんのフォロワー
    - @users.each do |user|
      = render 'users/index', user: user
