- provide(:title, "設定")
.row
  .offset-1.col-10.offset-md-2.col-md-8.offset-lg-0.col-lg-2.side-menu-setting.bg-light
    .btn.btn-info.top-select
      %i.far.fa-address-card
      %span プロフィール

    .btn.btn-outline-info.second-select
      %i.far.fa-bell
      %span 通知

    .btn.btn-outline-info.third-select
      %i.fas.fa-clipboard-list
      %span 登録情報

  .offset-md-1.col-md-10.offset-lg-1.col-lg-8.setting-form

    .top
      = render 'profile_setting'

    .second
      = render 'notice_setting'

    .third
      = render 'edit'
