.row
  = render 'users/user_info'

  .col-12.col-md-10.offset-md-1.col-lg-6
    %h3.center 投稿一覧
    .posted-select
      .col-6.posted-select-articles.btn-light 記事
      .col-6.posted-select-microposts.btn-light  つぶやき
    .user-articles
      = render 'articles/article_index'
    .user-microposts
      = render 'microposts/microposts_index'
