.row
  = render 'users/user_info'

  .col-12.col-md-10.offset-md-1.col-lg-6
    %h3.center 投稿一覧
    .posted-select
      .col-6.select-left.btn-success 記事
      .col-6.select-right.btn-light  つぶやき

    = render 'shared/articles_and_microposts_index'
