@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'mixins';
@import 'responsive';

body {
  padding-top: 120px;
}

section {
  overflow: auto;
}


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


h1.h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2.h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

/* header */
nav.header {
  #logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  a {
      color: #444444;
      padding: 10px;
      text-decoration: none;
    }
  .fix-margin {
    margin-top: 10px;  /* ドロップダウンボタンとのずれを修正 */
  }
  .fix-hover {
    padding: 4px 24px;
  }
  li:active {
    background-color: inherit;
  }
  input.fix-hover {
    @include reset-css-button;
  }
}

/* home */
.home {
  padding: 50px;
}
a.signup {
  margin-top: 30px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/*sign up(user#new) */

.submit {
  text-align: center;
  margin: 15px;
} .btn-primary {
  padding: 15px 50px;
}

label.signup {
  margin-top: 5px;
}

.checkbox {
  margin-top: 5px;
  margin-bottom: 10px;
  span {
    font-weight: normal;
  }
}

/* user#show */

img.user-icon {
  display: block;
  margin: auto;
}

a#edit-user-info {
  padding: 0.25rem 0.5rem;
}

h3#user-name {
  text-align: center;
}

.user-info {
  padding: 20px;
  height: 300px;
}

input.h6 {
  @include reset-css-button
  margin-top: 8px;
  color: #FF3333;
}

.edit-user-info {
  display: block;
  margin: auto;
}

.follow-button {
  display: block;
  margin: auto;
}

.user-followers {
  margin-top: 20px;
  a {
    text-align: center;
    color: #808080;
  }
  span {
    display: block;
  }
  p {
    color: black;
    font-size: 1.4em;
  }
}

.paginate {
  margin-top: 20px;
}

/* followers */

.followers-item {
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px;
  text-align: center;
}

/* articles#new */

#editor {
  height: 600px;
  width: 100%;
  display: flex;
}

.form_content {
  width: 50%;
  display: inline-block;
}

label#form-content {
  float: left;
}

.textarea {
  width: 100%;
  height: 85%;
  resize: none;
  margin-top: 7px;
}

.preview {
  width: 50%;
  height: 100%;
  display: inline-block;
}

span#preview {
  float: left;
  margin-bottom: 0.5rem;
}

.preview-form {
  width: 100%;
  height: 85%;
  display: inline-block;
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin-top: 7px;
}

.btn-info {
  margin-top: 10px;
}

/* articles#index */

.article-item {
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px;
  text-align: center;
}

.article-title {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: inherit;
  word-wrap: break-word;
  word-break: break-all;
}

span.by {
  margin-left: 20px;
  font-size: 0.9em;
}

.article-author {
  font-size: 0.9em;
  color: inherit;
}

.timestamp {
  margin-right: 0;
  font-size: 0.6em;
  color: 	#BBBBBB;
}

.ago {
  font-size: 0.6em;
  color: 	#BBBBBB;
}

.article-item-likes {
  margin-left: 20px;
}
/* articles#show */

.article, .preview {
  p {
    line-height: 1.9;
  }
  h1 {
    font-weight: bold;
    font-size: 1.8em;
    // border-bottom: 1px solid #ddd;
    padding-bottom: 0.1em;
  }
  h2 {
    font-weight: bold;
    font-size: 1.6em;
    // border-bottom: 1px solid #ddd;
    padding-bottom: .1em;
  }
  h3 {
    font-weight: bold;
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.0em;
  }
  h6 {
    font-size: 0.8em;
  }
}

.article-header {
  padding-bottom: 20px;
}

.article-footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.article-likes {
  margin-right: 20px;
  display: flex;
}

.like-icon {
  color: #FF0066;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

span.likes_total {
  color: #FF0066;
  font-size: 1.4em;
}

.fa-heart.fa-lg {
  margin-top: 5px;
}

.comment-form {
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
}

.comment-form-header {
  border-bottom: 1px solid #ddd;
}

.comment-textarea {
  resize: none;
  margin-top: 7px;
  width: 100%;
  height: 100px;
  input {
    width: 25%;
    float: right;
  }
}

.comment-item-wrapper {
  margin-top: 48px;
  margin-left: 24px;
}

.comment-item {
  margin-top: 12px;
  border-bottom: 1px solid #ddd;
}

.comment-item-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comment-user-name {
  font-size: 1.2em;
  color: inherit;
}

.comment-item-body {
  margin-top: 10px;
  word-wrap: break-word;
}

.comment-content {
  line-height: 1.9;
}

.comment-item-footer {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comment-likes {
  display: flex;
}
