@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'mixins';
@import 'responsive';

body {
  padding-top: 120px;
}

section {
  overflow: auto;
}


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


h1.h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2.h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

.button-css-none {
  @include reset-css-button;
}

/* header */

.notice {
  a {
    padding: 0 !important;
  }
}

.fa-bell {
  margin-right: 10px;
}
.notice-field {
  display: none;
}

.notice-field.open {
  display: block;
  position: absolute;
  right: 360px;
  z-index: 1000;
  width: 320px;
  height: 480px;
  background-color: #fff;
  padding: 16px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
  overflow-y: scroll;

  .notice-field-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    font-size: 1.0em;
    padding-right: 16px;
    padding-left: 16px;
    p {
      margin: 0;
    }
  }

  .notice-items {
    padding: 10px;
  }

  .notice-item {
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    .notice-action-user-icon {
      padding-top: 10px;
    }
    .notice-message {
      padding-left: 10px;
    }
  }
}



.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1031;
  display: none;
}

#post-modal-bg {

  .post-modal {
    position: absolute;
    top: 25%;
    left: 38%;
    background-color: #e6ecf0;
    border-radius: 10px;
    width: 25%;
    height: 25%;
    text-align: center;

    .fa-times {
      position: absolute;
      top: 5%;
      right: 5%;
    }

    .post-modal-select {
      position: absolute;
      top: 25%;
      left: 25%;
      display: flex;
    }

    .article-select {
      margin-right: 10px;
    }

    .article-select, .micropost-select {
      p {
        display: block;
        margin: 0;
      }
    }
  }
}

#micropost-modal-bg {
  display: none;

  .micropost-modal {
    position: absolute;
    top: 25%;
    left: 34%;
    background-color: #e6ecf0;
    border-radius: 10px;
    width: 30%;
    height: 40%;
    text-align: center;

    .micropost-modal-header {

      h2 {
        font-weight: normal;
        color: #777;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
      }

      .fa-times {
        position: absolute;
        top: 5%;
        right: 5%;
      }
    }

    form {
      height: 60%;
    }

    textarea.micropost-textarea {
      resize: none;
      width: 80%;
      height: 100%;
    }

    input.micropost-submit {
      position: absolute;
      right: 5%;
      bottom: 5%;
    }
  }
}

nav.header {
  #logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  a {
      color: #444444;
      padding: 10px;
      text-decoration: none;
    }
  .fix-margin {
    margin-top: 10px;  /* ドロップダウンボタンとのずれを修正 */
  }
  .fix-hover {
    padding: 4px 24px;
  }
  li:active {
    background-color: inherit;
  }
  input.fix-hover {
    @include reset-css-button;
  }

  input.fix-margin {
    margin-right: 20px;
    border: none;
    background-color: white;
    padding: 3px;
  }

  span.fa-search {
    background-color: white;
    padding: 4.6px;
    padding-top: 3.4px;
  }
  span.fa-search:before {
    display: none;
  }
}

/* home */

.introduction {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 550px;
  z-index: -1;
}

.introduction-headline {
  padding-top: 50px;
  h1 {
    font-size: 3.2em
  }
}

p.center.text-white {
  margin-top: 150px;
}

.signup-or-login {
  display: flex;
  margin-top: 40px;
  padding-bottom: 10px;

  .signup-select {
    margin-left: auto;
    width: 200px;
    p {
      text-align: center;
    }
    border-bottom: 1px solid white;
  }

  .login-select {
    margin-right: auto;
    width: 200px;
    p {
      text-align: center;
    }
    border-bottom: 1px solid white;
  }
}

.signup-buttons, .login-buttons {
  margin-top: 40px;

  .email-btn {
    padding: 15px 25px;
    background-color: #FF0084;
    color: white;
    margin-right: 20px;
    text-decoration: none;
    &:hover {
      opacity: 0.9;
    }
  }

  .twitter-btn {
    padding: 15px 50px;
    background-color: #55ACEE;
    color: white;
    margin-right: 20px;
    text-decoration: none;
    &:hover {
      opacity: 0.9;
    }
  }

  .google-btn {
    padding: 15px 50px;
    background-color: #DD4B39;
    color: white;
    text-decoration: none;
    &:hover {
      opacity: 0.9;
    }
  }
}

.introduction-detail {
  margin-top: 120px;

  .select-posting-explanation {
    p {
      margin-top: 30px;
    }

    .two-types-explanation {
      margin-top: 50px;
      display: flex;
      text-align: center;
      p {
        margin: 0;
      }

      .left-explanation {
        margin-left: auto;
        margin-right: 150px;
        svg {
          margin-left: 10px;
          margin-bottom: 20px;
        }
      }
      .right-explanation {
        margin-right: auto;
        svg {
          margin-left: 10px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.ac-explanation {
  margin-top: 120px;
  p {
    margin-top: 30px;
  }

  .fa-heart {
    color: #FF0066;
  }
}

.side-menu {
  height: 200px;
  .btn {
    svg {
      float: left;
      margin-top: 5px;
    }
    margin-top: 20px;
    width: 100%;
  }
}

.feed {
  h2 {
    font-size: 2.4em;
  }
  .posted-select-all {
    border-right: 1px solid #17a2b8;
  }
  .feed-all {
  }
  .feed-microposts {
    display: none;
  }
  .feed-articles {
    display: none;
  }
}

.timeline, .trend {
  p {
    text-align: center;
  }
}

.trend {
  display: none;
  .micropost-trend {
    display: none;
  }
}

.feed-center, .feed-right {
  display: none;
}

/* contact#new */

.contact-message {
  resize: none;
  height: 200px !important;
}

/* about */

.about-app {
  h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  span, a {
    font-size: 1.1em;
  }
}

/* search */

.search-results {
  h2#search-results {
    border: none;
  }

  h2.h2 {
    font-size: 2em;
    border-top: 1px solid #eaeaea;
    padding: 10px 0;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  height: 100px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/*sign up(user#new) */

.submit {
  text-align: center;
  margin: 15px;
} .btn-primary {
  padding: 15px 50px;
}

label.signup {
  margin-top: 5px;
}

.checkbox {
  margin-top: 5px;
  margin-bottom: 10px;
  span {
    font-weight: normal;
  }
}

/* user#show */

img.user-icon {
  display: block;
  margin: auto;
}

a#edit-user-info {
  padding: 0.25rem 0.5rem;
}

h3#user-name {
  text-align: center;
  margin-top: 10px;
}

p.user-unique-name {
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: #808080;
}

.user-info {
  padding: 20px;
  max-height: 530px;
}

input.h6 {
  @include reset-css-button
  margin-top: 8px;
  color: #FF3333;
}

.edit-user-info {
  display: block;
  margin: auto;
}

.follow-button {
  display: block;
  margin: auto;
}

.user-profile {
  margin-top: 10px;
  font-size: 0.9em;
}

.paginate {
  margin-top: 20px;
}

h3.center {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.posted-select {
  display: flex;
  text-align: center;
  font-size: 1.4em;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.posted-select-articles {
  border-right: 1px solid #17a2b8;
}

.user-microposts {
  display: none;
}

/* user#followers */

.user-followers {
  margin-top: 20px;
  a {
    text-align: center;
    color: #808080;
  }
  span {
    display: block;
  }
  p {
    color: black;
    font-size: 1.4em;
  }
}

.user-item {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px;

  .user-item-right {
    margin-left: 10px;
  }

  .user-name {
    font-size: 1.0em;
    a {
      color: inherit;
    }
  }

  .user-profile {
    font-size: 0.9em;
  }
}

/* user#setting */

.side-menu-setting {
  height: 200px;
  .btn {
    svg {
      float: left;
      margin-top: 5px;
    }
    margin-top: 20px;
    width: 100%;
  }
  .notice-setting {
    margin-top: 10px;
    .form-control {
      border: none;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

.setting-form {
  margin-top: 10px;
  .notice-setting {
    .form-control {
      border: none;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

.profile-textarea {
  resize: none;
}

.second, .third {
  display: none;
}

/* micropost#index */

.micropost-item {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px;
}

.micropost-user-icon {
  display: inline-block;
  margin-top: 10px;
}

.micropost-main {
  width: 80%;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.micropost-header {
  justify-content: space-between;
  flex-wrap: wrap;
  .micropost-header-left, .micropost-header-right {
    display: inline-block;
  }
  .micropost-header-left {
    .user-unique-name {
      font-size: 0.8em;
      color: #808080;
      margin-right: 10px;
    }
  }
  .micropost-header-right {
    float: right;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

.micropost-body {
  margin-top: 5px;
  .user-unique-name {
    color: blue;
  }
}

.micropost-item-footer {
  width: 100%;
  margin-top: 10px;

  .micropost-item-likes {
    display: flex;
    float: right;
  }

  .micropost-item-reply {
    display: inline-block;
    svg {
      text-align: center;
    }
    p {
      font-size: 0.6em;
      margin: 0 auto;
    }
  }
}

.micropost-body {
  a {
    color: black;
    text-decoration: none;
  }
}

/* micropost#show */

.micropost-detail {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  .micropost-header-left {
    img.user-icon {
      display: inline-block;
    }
    a, span {
      vertical-align: middle;
    }
    a {
      font-size: 1.4em;
      margin-left: 10px;
    }
    .user-unique-name {
      color:  #808080;
      font-size: 1.0em;
      margin-left: 2px;
      margin-right: 10px;
    }
  }

  .micropost-body{
    margin-top: 10px;
  }
  .user-unique-name {
    color: blue;
  }
}

.received-replies, .sended-replies {
  .micropost-detail {
    border-bottom: initial;
  }
}

.border {
  width: 5px;
  height: 30px;
  background-color: #e8e8e8;
}

.replies {
  .micropost-detail {
    border-bottom: initial;
  }
}

.received-replies, .sended-replies {
  display: none;
}

.sended-replies-hide, .received-replies-hide {
  text-align: center;
  height: 30px;
}

.received-replies-hide {
  margin-top: 10px;
}



.reply-form {
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
  margin: 10px 0;
  display: none;
}

.reply-form-header {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.reply-textarea {
  resize: none;
  margin-top: 7px;
  width: 100%;
  height: 100px;
}

/* articles#new */

#editor {
  height: 600px;
  width: 100%;
  display: flex;
}

.form_content {
  width: 50%;
  display: inline-block;
}

label#form-content {
  float: left;
}

.textarea {
  width: 100%;
  height: 85%;
  resize: none;
  margin-top: 7px;
}

.preview {
  width: 50%;
  height: 100%;
  display: inline-block;
}

span#preview {
  float: left;
  margin-bottom: 0.5rem;
}

.preview-form {
  width: 100%;
  height: 85%;
  display: inline-block;
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin-top: 7px;
  background-color: white;
}

.btn-info {
  margin-top: 10px;
}

/* articles#index */

.article-item {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px;
}

.article-author-icon {
  display: inline-block;
}

.article-item-main {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

.article-item-body {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 4px;
  word-wrap: break-word;
  word-break: break-all;
  vertical-align: top;
  a.article-title {
    display: inline-block;
    text-align: left;
    color: inherit;
    margin-left: 20px;
  }
}

span.by {
  margin-left: 20px;
  font-size: 0.9em;
}

.article-author {
  font-size: 0.9em;
  color: inherit;
}

.timestamp {
  margin-right: 0;
  font-size: 0.6em;
  color: 	#BBBBBB;
}

.ago {
  font-size: 0.6em;
  color: 	#BBBBBB;
}


.article-item-meta {
  display: inline-block;
}

.article-item-likes {
  display: inline-block;
  margin-left: 20px;
}
/* articles#show */

.article, .preview {
  p {
    line-height: 1.9;
  }
  h1 {
    font-weight: bold;
    font-size: 1.8em;
    // border-bottom: 1px solid #ddd;
    padding-bottom: 0.1em;
  }
  h2 {
    font-weight: bold;
    font-size: 1.6em;
    // border-bottom: 1px solid #ddd;
    padding-bottom: .1em;
  }
  h3 {
    font-weight: bold;
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.0em;
  }
  h6 {
    font-size: 0.8em;
  }
}

.article-header {
  padding-bottom: 20px;
}

.article-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 4px;
  word-wrap: break-word;
  word-break: break-all;
}

.article-footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.article-likes {
  margin-right: 20px;
  display: flex;
}

.like-icon {
  color: #FF0066;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

span.likes_total {
  color: #FF0066;
  font-size: 1.4em;
}

.fa-heart.fa-lg {
  margin-top: 5px;
}

.author-info {
  display: flex;
  .author-info-right {
    margin-left: 10px;
  }
  .author-info-name {
    margin-bottom: 10px;
  }
  #follow-form {
    float: left;
  }
}

.comment-form {
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
}

.comment-form-header {
  border-bottom: 1px solid #ddd;
}

.comment-textarea {
  resize: none;
  margin-top: 7px;
  width: 100%;
  height: 100px;
  input {
    width: 25%;
    float: right;
  }
}

.comment-item-wrapper {
  margin-top: 48px;
  margin-left: 24px;
}

.comment-item {
  margin-top: 12px;
  border-bottom: 1px solid #ddd;
}

.comment-item-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comment-item-header-left {
  img {
    display: inline-block;
    margin-right: 10px;
  }
}

.comment-user-name {
  font-size: 1.2em;
  color: inherit;
}

.comment-item-body {
  margin-top: 10px;
  word-wrap: break-word;
}

.comment-content {
  line-height: 1.9;
}

.comment-item-footer {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comment-likes {
  display: flex;
}
